/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* CUSTOM CSS (ADD YOUR CSS HERE!) */
/*//////////////////////////////////////////////////////////////////////////////////////////*/
.camera_thumbs_cont ul li{
    border-top: 5px solid red;
    border-bottom: 5px solid red;
}

.upcoming-cars span{
    text-transform:uppercase;
}
.carousel-reviews .bx-controls-direction{
    left: 163px!important;
}